code{
  background: #2db34a;
  color: #fff;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  display: block;
  padding: 24px 15px;
  border-radius: 6px;
  text-align: center;
}

/* 
  when using percentage for length, 
  the number is calculated based on
  the element's parent element's width, 
  and it is always based on the WIDTH!!
 */
header, section, aside, footer{
  padding: 0 1.5% 24px 1.5%;
}

section{
  float: left;
  width: 30%;
}

aside{
  float: right;
  width: 30%;
}

footer{
  clear: both;
  padding-bottom: 0;
}
